<div class="customer-view-container">
  <table class="table">
    <tr>
      <th>Customer Number</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Comments</th>
    </tr>
    <tr *ngFor='let customer of data.data'>
      <td>{{customer.customerNumber}}</td>
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.mobileNumber}}</td>
      <td>{{customer.comments}}</td>
    </tr>
  </table>
</div>