<div class="list-toolbar">
  <button class="btn btn-outline-warning" type="button" (click)="addNewCustomerClick()">ADD NEW</button>
  <button class="btn btn-outline-warning" type="button" (click)="editCustomerClick()">EDIT</button>
  <button class="btn btn-outline-danger" type="button" (click)="deleteCustomerClick()">DELETE</button>
  <button class="btn btn-outline-danger" type="button" (click)="cancelCustomerClick()">CANCEL</button>
  <button class="btn btn-outline-warning" type="button" routerLink="/spec-version">SPEC VERSION</button>
</div>
<div class="customer-form border border-info">
  <form [formGroup]="specForm" (ngSubmit)="saveSpec()">
    <div class="form-group">
      <label for="customerNumber">Customer Number</label>
      <input type="text" class="form-control" id="customerNumber" aria-describedby="emailHelp" placeholder="Customer Number (A-Z, a-z, 0-9)"
        required maxlength="12" formControlName="customerNumber" >
    </div>
    <div class="form-group">
      <label for="customerName">Customer Name</label>
      <select class="dropdown show" name="customerName" formControlName="customerName" (change)="customerNameChange($event.target.value)">
        <option *ngFor="let customer of customerList" [value]="customer.customerNumber">{{customer.customerName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="SpecVersionNumber">Spec Version Number</label>
      <input type="text" class="form-control" id="SpecVersionNumber" aria-describedby="emailHelp" placeholder="Customer Number (A-Z, a-z, 0-9)"
        required maxlength="12" formControlName="specificationVersionNumber" >
    </div>
    <div class="form-group">
      <label for="SpecVersionName">Spec Version Name</label>
      <select class="dropdown show" name="SpecVersionName" formControlName="specVersionName" (change)="specVersionNameChange($event.target.value)">
        <option *ngFor="let specVersion of specVersionList" [value]="specVersion.specificationVersionNumber">{{specVersion.specificationVersionName}}</option>
      </select>
      <button class="btn" id="addNewSpecVersion" (click)="addNewSpecVersion()">+</button>
    </div>
    <div class="form-group">
      <label for="shoulder">Shoulder</label>
      <input type="text" class="form-control" id="shoulder" placeholder="Shoulder" required maxlength="45" formControlName="shoulder">
    </div>
    <div class="form-group">
      <label for="shoulderToBust">Shoulder to Bust</label>
      <input type="text" class="form-control" id="shoulderToBust" placeholder="Shoulder to Bust" required maxlength="45" formControlName="shoulderToBust">
    </div>
    <div class="form-group">
      <label for="shoulderToWaist">Shoulder to Waist</label>
      <input type="text" class="form-control" id="shoulderToWaist" placeholder="Shoulder to Waist" required maxlength="45" formControlName="shoulderToWaist">
    </div>
    <div class="form-group">
      <label for="shoulderToBracut">Shoulder to Bracut</label>
      <input type="text" class="form-control" id="shoulderToBracut" placeholder="Shoulder to Bracut" required maxlength="45" formControlName="shoulderToBracut">
    </div>
    <div class="form-group">
      <label for="bust">Bust</label>
      <input type="text" class="form-control" id="bust" placeholder="Bust" required maxlength="45" formControlName="bust">
    </div>
    <div class="form-group">
      <label for="blouseWaist">Blouse Waist</label>
      <input type="text" class="form-control" id="blouseWaist" placeholder="Blouse Waist" required maxlength="45" formControlName="blouseWaist">
    </div>
    <div class="form-group">
      <label for="bracut">Bracut</label>
      <input type="text" class="form-control" id="bracut" placeholder="Bracut" required maxlength="45" formControlName="bracut">
    </div>
    <div class="form-group">
      <label for="frontNeck">Front Neck</label>
      <input type="text" class="form-control" id="frontNeck" placeholder="Front Neck" required maxlength="45" formControlName="frontNeck">
    </div>
    <div class="form-group">
      <label for="backNeck">Back Neck</label>
      <input type="text" class="form-control" id="backNeck" placeholder="Back Neck" required maxlength="45" formControlName="backNeck">
    </div>
    <div class="form-group">
      <label for="lengthBack">Length Back</label>
      <input type="text" class="form-control" id="lengthBack" placeholder="Length Back" required maxlength="45" formControlName="lengthBack">
    </div>
    <div class="form-group">
      <label for="sleaveLength">Sleave Length</label>
      <input type="text" class="form-control" id="sleaveLength" placeholder="Sleave Length" required maxlength="45" formControlName="sleaveLength">
    </div>
    <div class="form-group">
      <label for="sleaveWidth">Sleave Width</label>
      <input type="text" class="form-control" id="sleaveWidth" placeholder="Sleave Width" required maxlength="45" formControlName="sleaveWidth">
    </div>
    <div class="form-group">
      <label for="armCut">ArmCut</label>
      <input type="text" class="form-control" id="armCut" placeholder="ArmCut" required maxlength="45" formControlName="armCut">
    </div>
    <div class="form-group">
      <label for="armPit">ArmPit</label>
      <input type="text" class="form-control" id="armPit" placeholder="ArmPit" required maxlength="45" formControlName="armPit">
    </div>
    <div class="form-group">
      <label for="underskirtWaist">Underskirt Waist</label>
      <input type="text" class="form-control" id="underskirtWaist" placeholder="Underskirt Waist" required maxlength="45" formControlName="underskirtWaist">
    </div>
    <div class="form-group">
      <label for="underskirtHip">Underskirt Hip</label>
      <input type="text" class="form-control" id="underskirtHip" placeholder="Underskirt Hip" required maxlength="45" formControlName="underskirtHip">
    </div>
    <div class="form-group">
      <label for="underskirtLength">Underskirt Length</label>
      <input type="text" class="form-control" id="underskirtLength" placeholder="Underskirt Length" required maxlength="45" formControlName="underskirtLength">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="false">Save Specification</button>
  </form>
</div>