<div class="list-toolbar">
  <button class="btn btn-outline-warning" type="button" (click)="addSpec()">ADD NEW</button>
</div>
<div class="customer-view-container">
  <table class="table">
    <tr>
      <th>Customer Number</th>
      <th>Name</th>
      <th>Spec Version</th>
      <th>Mobile Number</th>
      <th></th>
    </tr>
    <tr *ngFor='let spec of specList'>
      <td>{{spec.customerNumber}}</td>
      <td>{{spec.customerName}}</td>
      <td>{{spec.specVersionName }}</td>
      <td>{{spec.mobileNumber}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-outline-info" (click)="viewSpec(spec.customerNumber, spec.specVersionNumber)">VIEW</button>
      </td>
    </tr>
  </table>
</div>